<p id="notice"><%= notice %></p>
<h3>Listing Assignments</h3><br>
<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Group</th>
				<th>Assigned to</th>
				<th>Pathway Title</th>
				<th>Created by</th>
				<th title="steps completed out of total steps">Progress</th>
				<th>Created on</th>
				<!--<th>status</th>
				<th>Memo</th>-->
				<th colspan="3">Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @assignments.each do |assignment| %>
			<tr>
				<td><%= assignment.user.department.group.try(:name) %></td>
				<td><%= assignment.user.try(:email) %></td>
				<td><%= assignment.pathway.try(:title) %></td>
				<td><%= User.find(assignment.creator_user_id).email %></td>
				<td> <%= AssignmentsStep.all.where(:assignment_id => assignment.id).count %> of <%= assignment.pathway.steps.count %> </td>
				<td><%= assignment.created_at.strftime("%B %d, %Y") %></td>
				<!--<td><%#= assignment.status %></td>
				<td><%#= assignment.memo %></td>-->
				<td><%= link_to 'Show', assignment %></td>
				<td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
				<td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>