<!-- <div class="content-strip">
    <div class="strip-content">
        <h4>Login Page</h4>
        <p>There's an App styled version too!</p>
        <i class="fa fa-code"></i>
    </div>
    <div class="overlay"></div> -->
    <!--<img class="preload-image" data-original="images/pictures/3.jpg" alt="img" src="images/pictures/3.jpg" style="display: block;">
    <%#= image_tag "pictures/3.jpg", :class => "perload-image", :style => "display: block;" %>
</div>-->
<div class="content">
    <br>
    <div class="decoration">
        
    </div>
    <div class="page-login full-bottom">
        <div class="page-blog-list-by">
            <%#= image_tag "login.png",:class=>"preload-image" ,:style=>"display: block;margin-left: 90px;margin-bottom: 20px;"%>
        </div>
        <%#= link_to "", :class => "page-login-logo" %>
        <!--<h2>Log in</h2>-->
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="login-input">
            <i class="fa fa-user"></i>
            <%#= f.label :email %>
            <%= f.email_field :email, autofocus: true, :hide_label => true , :placeholder=>"Email" %>
        </div>
        <div class="login-password">
            <i class="fa fa-lock"></i>
            <%#= f.label :password %>
            <%= f.password_field :password, autocomplete: "off", :hide_label => true,:placeholder=>"Password" %>
        </div>
        <%# if devise_mapping.rememberable? -%>
        <!--<div class="field">
            <%#= f.check_box :remember_me, :hide_label => true %>
        </div>-->
        <%# end -%>
        <%= render "users/shared/links" %>
        <!--<div class="actions">-->
        <%= f.submit "Log in", :class => "login-button button button-small button-green button-fullscreen full-bottom" %>
        <!--</div>-->
        <% end %>
    </div>
    <div class="decoration">
        
    </div>
</div>