<!-- second navbar -->
<div class="navbar navbar-default" id="navbar-second">
	<ul class="nav navbar-nav no-border visible-xs-block">
		<li>
			<a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle">
				<i class="icon-menu7"></i>
			</a>
		</li>
	</ul>
	<div class="navbar-collapse collapse" id="navbar-second-toggle">
		<ul class="nav navbar-nav">
			<li>
				<a href="#">
					<i class="icon-display4 position-left"></i>
					Dashboard
				</a>
			</li>
			<li class="dropdown mega-menu mega-menu-wide <%= cp(groups_path) %>">
				<!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-puzzle4 position-left"></i>
							Components
							<span class="caret"></span>
				</a> -->
				<%= link_to groups_path do %>
				<i class="icon-users4"></i>
				Groups
				<% end %>
			</li>
			<li class="dropdown mega-menu mega-menu-wide <%= cp(departments_path) %>">
				<!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="icon-stars position-left"></i>
					Features
					<span class="caret"></span>
				</a> -->
				<%= link_to departments_path do %>
				<i class="icon-collaboration"></i>
				Departments
				<% end %>
			</li>
			<li class="<%= cp(users_path) %>">
				<!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="icon-make-group position-left"></i>
					Page kits
					<span class="caret"></span>
				</a> -->
				<%= link_to users_path do %>
				<i class="icon-users"></i>
				Users
				<% end %>
			</li>
			<li class="<%= cp(pathways_path) %>">
				<!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="icon-strategy position-left"></i>
					Starter kit
					<span class="caret"></span>
				</a> -->
				<%= link_to pathways_path do %>
				<i class="icon-road"></i>
				Pathways
				<% end %>
			</li>
			<li class="<%= cp(assignments_path) %>">
				<!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="icon-strategy position-left"></i>
					Starter kit
					<span class="caret"></span>
				</a> -->
				<%= link_to assignments_path do %>
				<i class="icon-user-check"></i>
				Assignments
				<% end %>
			</li>
			<li>
				<%= link_to destroy_user_session_path , method: :delete ,:class=>"menu-item border-menu-lime" do %>
				<i class="fa fa-user"></i>
				<span>Logout</span>
				<% end %>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a href="changelog.html">
					<i class="icon-history position-left"></i>
					Changelog
					<span class="label label-inline position-right bg-success-400">1.2.1</span>
				</a>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="icon-cog3"></i>
					<span class="visible-xs-inline-block position-right">Share</span>
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu dropdown-menu-right">
					<li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>
					<li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
					<li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>
					<li class="divider"></li>
					<li><a href="#"><i class="icon-gear"></i> All settings</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
<!-- /second navbar -->