<%= bootstrap_form_for(@group) do |f| %>
<% if @group.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>
  <ul>
    <% @group.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="row">
  <div class="col-lg-4">
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name , :hide_label => true%>
    </div>
    <div class="field">
      <%= f.label :memo %><br>
      <%= f.text_area :memo , :hide_label => true%>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="field">
      <%= f.label :status %><br>
      <%= f.text_field :status, :hide_label => true %>
    </div>
    
    <div class="field">
      <%= f.label :active , :hide_label => true%><br>
      <%= f.check_box :active %>
    </div>
  </div>
  <div class="col-lg-4">
  </div>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>