<p id="notice"><%= notice %></p>
<h3>Listing Groups</h3><br>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Active</th>
        <th>Status</th>
        <th>Memo</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <%# @groups.each do |group| %>
      <tr>
        <td><%= @groups.name %></td>
        <td><%= @groups.active %></td>
        <td><%= @groups.status %></td>
        <td><%= @groups.memo %></td>
        <td><%= link_to 'Show', @groups %></td>
        <td><%= link_to 'Edit', edit_group_path(@groups) %></td>
        <td><%= link_to 'Destroy', @groups, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <%# end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Group', new_group_path %>
  
</div>