<p id="notice"><%= notice %></p>
	<h3>Details of Group</h3><hr><br>
	<strong>Name:</strong>
	<%= @group.name %><br>
	<strong>Active:</strong>
	<%= @group.active %><br>
	<strong>Status:</strong>
	<%= @group.status %><br>
	<strong>Code:</strong>
	<%= @group.registration_code %><br>
	<strong>Memo:</strong>
	<%= @group.memo %><br>
<br>
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>