<%= bootstrap_form_for(@user,url: add_user_path , method: :post) do |f| %>
<% if @user.errors.any? %>
<div id="error_explanation">
  <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="row">
  <div class="col-lg-4">
    <div class="field">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, autofocus: true , :hide_label => true %>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="field">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name , :hide_label => true%>
    </div>
  </div>
  <div class="col-lg-4"></div>
</div>
<div class="row">
  <div class="col-lg-4">
    <div class="field">
      <%= f.label :type %><br>
      <%= f.select :type ,options_for_select(["LocalUser", "ContentAdmin","LocalAdmin"]), :hide_label => true, :prompt => "--Select user type --" %>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="field">
      <%= f.label :mobile_number %><br />
      <%= f.text_field :mobile_number , :hide_label => true%>
    </div>
  </div>
  <div class="col-lg-4"></div>
</div>
<div class="row">
  <div class="col-lg-4">
    <div class="field">
      <%= label_tag :group %><br>
      <%= select_tag "groups" ,options_from_collection_for_select(Group.all,'id','name') , :hide_label => true , :class => "form-control", id: 'groups_select' %>
      <%#= select_tag "group_id", options_for_select(@groups.collect { |group|
    [group.name, group.id] }, 1), {}, { id: 'groups_select' } %>

    </div>
  </div>
  <div class="col-lg-4">
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title , :hide_label => true%>
    </div>
  </div>
  <div class="col-lg-4"></div>
</div>
<div class="row">
  <div class="col-lg-4">
    <div class="field">
      <%#= f.label :department %>
      <%#= f.select :department_id ,options_from_collection_for_select(current_user.department.group.departments,'id','name',@user.department_id) , :hide_label => true, id: 'departments_select' %>
      <%= f.select :department_id, options_for_select(@departments.collect { |department|
    [department.name, department.id] }, 0), {}, { id: 'departments_select' } %>

    </div>
  </div>
  <div class="col-lg-4">
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true , :hide_label => true%>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", :hide_label => true %>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", :hide_label => true %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <div class="field">
      <%= f.radio_button :active,true%>
      <%= f.label :active %>
      <%= f.radio_button :active,false, :hide_label => true%>
      <%= f.label :inactive %>
    </div>
  </div>
  <div class="col-lg-8"></div>
</div>
<div class="row">
  <div class="col-lg-4">
    
  </div>
  <div class="col-lg-8"></div>
</div>
<!-- <div class="field">
  <%= f.label :memo %><br />
  <%= f.text_area :memo, :hide_label => true%>
</div> -->
<div class="actions">
  <%= f.submit %>
</div>
<% end %>