<p id="notice"><%= notice %></p>
<div class="page-content">
    <div class="content-wrapper">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title">Listing Departments</h5>
                <!-- <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="collapse"></a></li>
                        <li><a data-action="reload"></a></li>
                        <li><a data-action="close"></a></li>
                    </ul>
                </div> -->
                <a class="heading-elements-toggle"><i class="icon-menu"></i></a>
            </div>
            <div class="panel-body">
                <%= link_to 'New Department', new_department_path %>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr class="bg-blue">
                            <th>Name</th>
                            <th>Memo</th>
                            <th>Group</th>
                            <th colspan="3">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% @departments.each do |department| %>
                        <tr>
                            <td><%= department.name %></td>
                            <td><%= department.memo %></td>
                            <td><%= department.group.try(:name) %></td>
                            <td><%= link_to 'Show', department %></td>
                            <td><%= link_to 'Edit', edit_department_path(department) %></td>
                            <td><%= link_to 'Destroy', department, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                    <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>