<p id="notice"><%= notice %></p>
<h3>Details of Department</h3><hr><br>
  <strong>Name:</strong>
  <%= @department.name %><br>

  <!--<strong>Status:</strong>
  <%#= @department.status %><br>-->

  <strong>Memo:</strong>
  <%= @department.memo %><br>

  <strong>Group:</strong>
  <%= @department.group.try(:name) %><br>
<br>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
