<% @pathway.pathways_steps.order(:display_order).each do |pathway_step| %>
<li id="arrange_<%= pathway_step.id %>" class="pathways">
	<%= pathway_step.display_order %>
	<%= pathway_step.step.title %>
	<div class="ul-width">
		<ul>
			<li> Subtitle : <%= pathway_step.step.subtitle %></li>
			<li> Body : <%= pathway_step.step.body %></li>
			<!--<li> Active : <%#= pathway_step.step.active %></li>-->
			<li> Memo : <%= pathway_step.step.memo %></li>
			<li> Youtube Url : <%= pathway_step.step.url_to_youtube %></li>
		</ul>
	</div>
</li>
<% end %>