<h3>Editing Pathway</h3><hr><br>
<%#= render 'form' %>
<%= bootstrap_nested_form_for(@pathway, html: { multipart: true } ) do |f| %>
<% if @pathway.errors.any? %>
<div id="error_explanation">
	<h4><%= pluralize(@pathway.errors.count, "error") %> prohibited this pathway from being saved:</h4>
	<ul>
		<% @pathway.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="row">
	<div class="col-lg-4">
		<div class="field">
			<%= f.label :title %><br>
			<%= f.text_field :title , :hide_label => true%>
		</div>
		<div class="field">
			<%= f.label :memo %><br>
			<%= f.text_area :memo , :hide_label => true%>
			<% if current_user.content_admin? or current_user.local_admin? %>
			<%else%>
			<div class="field">
				<%= f.label :group %><br>
				<%= f.select :group_id ,options_from_collection_for_select(Group.all,'id','name',@pathway.group_id) , :hide_label => true  %>
			</div>
			<% end%>
		</div>
		<div class="field">
			<%= f.label :font %><br>
			<%= f.text_field :font, :hide_label => true %>
		</div>
		<!--<div class="field">
					<%#= f.label :active %><br>
					<%#= f.check_box :active, :hide_label => true %>
		</div>-->
	</div>
	<div class="col-lg-4">
		
	</div>
	<div class="col-lg-4"></div>
</div>
<h4>Step Details</h4><br>
<div class="row">
	<div class="col-lg-4">
		<div class="field">
			<%= f.label :Step %><br>
			<%= select_tag :step_id, options_from_collection_for_select(@steps,'id','title'), class: "form-control" , :prompt => "--Select Step--" %>
		</div>
	</div>
</div>
<br>
<div class="field">
	<%= f.fields_for :steps %>
</div>
<%= f.link_to_add "Add a step", :steps %>
<br><br>
<div class="actions">
	<%= f.submit %>
</div>
<% end %>
<br>
<%= link_to 'Show', @pathway %> |
<%= link_to 'Back', pathways_path %>
<script type="text/javascript">
	$("#step_id option").each(function()
	{
		var step_id= "#stepdetails_" + $(this).val()
		$(step_id).hide();
		});
	$("#step_id").change(function(){
		$("#step_id option").each(function()
		{
			var step_id= "#stepdetails_" + $(this).val()
			if ($(this).val() == $("#step_id").val() )
			{
				$(step_id).show();
			}
			else
			{
				$(step_id).hide();
				}
		});
	});
	
</script>