<center>
<p id="notice"><%= notice %></p>

<h3 align="center">

<% if user_signed_in? %>
Hello,
<%= current_user.first_name %>
<%= current_user.last_name %>
<% else %>
<%= link_to "sign_in", new_user_session_path %>
<% end %>
<br><br>
<% if current_user.content_admin? %>
	<%= link_to "Groups", groups_path %>&nbsp;
	<%= link_to "Departments", departments_path %>&nbsp;
	<%= link_to "Pathways", pathways_path %>&nbsp;
	<%#= link_to "Steps", steps_path %>&nbsp;
<% elsif current_user.local_admin? %>
	<%= link_to "Pathways", pathways_path %>&nbsp;
	<%#= link_to "Steps", steps_path %>&nbsp;
<% else %>

<h2 align="center">
Assigned Pathways
</h2>
<table border="1">
	<thead>
		<tr>
			<th>Title</th>
			<th>Memo</th>
			<th>Steps</th>
		</tr>
	</thead>
	<tbody>
		<% @pathways.each do |pathway| %>
			<% if pathway.active == true %>
			<tr>
				<td><%= pathway.title %></td>
				<td><%= pathway.memo %></td>
				<td><%= link_to 'Show', step_index_path(pathway) %></td>
			</tr>
			<% end %>
		<% end %>
	</tbody>
</table>
<br>

<h2 align="center">
Completed Pathways
</h2>
<table border="1">
	<thead>
		<tr>
			<th>Title</th>
			<th>Memo</th>
		</tr>
	</thead>
	<tbody>
		<% @pathways.each do |pathway| %>
			<% if pathway.active == false %>
			<tr>
				<td><%= pathway.title %></td>
				<td><%= pathway.memo %></td>
			</tr>
			<% end %>
		<% end %>
	</tbody>
</table>
<br>

<h2 align="center">
Library
</h2>
<table border="1">
	<thead>
		<tr>
			<th>Title</th>
			<th>Memo</th>
			<th>Steps</th>
		</tr>
	</thead>
	<tbody>
		<% @pathways.each do |pathway| %>
			<tr>
				<td><%= pathway.title %></td>
				<td><%= pathway.memo %></td>
				<td><%= link_to 'Show', step_index_path(pathway) %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<% end %>
</h3>

<%= link_to "sign out", destroy_user_session_path, method: :delete %>
</center>