<p id="notice"><%= notice %></p>
<% if current_user.user? %>
<h3>Assigned Pathway</h3><br>
<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Title</th>
				<th>Memo</th>
				<th>List of Steps</th>
			</tr>
		</thead>
		<tbody>
			<% @pathways.each do |pathway| %>
			<% if pathway.active == true %>
			<tr>
				<% if Assignment.where(pathway_id: pathway.id, user_id: current_user.id).first.status == nil   %>
				<td><%= pathway.title %></td>
				<td><%= pathway.memo %></td>
				<td><%= link_to 'Steps', pathway_steps_path(pathway) %></td>
				<% end %>
			</tr>
			<% end %>
			<% end %>
		</tbody>
	</table>
</div>
<br>
<h3>Completed Pathways</h3><br>
<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Title</th>
				<th>Memo</th>
			</tr>
		</thead>
		<tbody>
			<% @pathways.each do |pathway| %>
			<tr>
				<% if Assignment.where(pathway_id: pathway.id, user_id: current_user.id).first.status == "completed" %>
				<td><%= pathway.title %></td>
				<td><%= pathway.memo %></td>
				<% end %>
			</tr>
			<%# if pathway.active == false %>
			<tr>
				<td><%#= pathway.title %></td>
				<td><%#= pathway.memo %></td>
			</tr>
			<%# end %>
			<% end %>
		</tbody>
	</table>
</div>
<br>
<h3>Library</h3><br>
<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Title</th>
				<th>Memo</th>
				<th>List of Steps</th>
			</tr>
		</thead>
		<tbody>
			<% @library_pathways.each do |pathway| %>
			<tr>
				<td><%= pathway.title %></td>
				<td><%= pathway.memo %></td>
				<td><%= link_to 'Steps', pathway_steps_path(pathway) %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
<% end %>