<div class="header-fixed header-light">
	<a href="#" class="header-icon-1 open-left-sidebar">
		<i class="fa fa-navicon"></i>
	</a>
	<h4 class="text-center">
		<%= current_user.group.try(:name) %>
	</h4>
	<a href="#" class="header-icon-4 open-right-sidebar">
		<i class="fa fa-envelope-o"></i>
	</a>
</div>

<div class="header-clear"></div>

<div class="content-strip slider">
</div>

<div class="text-slider content-fullscreen swiper-container-horizontal">
	<div class="swiper-wrapper">
		<p class="swiper-slide">
			Android 20 Launched. It's awesome! 
			<a href="#">Read More</a>
		</p>
		<p class="swiper-slide">
			iPhone renamed to ApplePhone. What? 
			<a href="#">Read More</a>
		</p>
		<p class="swiper-slide swiper-slide-prev">
			Best device of the year? What's yours? 
			<a href="#">Read More</a>
		</p>
		<p class="swiper-slide swiper-slide-active">
			Enabled is rocking the mobile nieche! 
			<a href="#">Read More</a>
		</p>
		<p class="swiper-slide swiper-slide-next">
			We're using the latest code techniques! 
			<a href="#">Read More</a>
		</p>
	</div>
</div>

<% if current_user.user? or current_user.local_admin? %>
	<div class="content">
		<div class="heading-badge border-green-dark">
			<h3 class="bg-green-dark">
				Assigned Pathways
			</h3>
		</div>
		<% @assigned_pathways.each_with_index do |pathway,index| %>
			<% if pathway.active == true %>
				<% if index > 0 %>
					<div class="decoration"></div>
				<% end %>
				<div class="activity-item one-half-responsive">
					<%= link_to pathway_steps_path(pathway) , class:"fixed-step-height" do %>
						<% if pathway.font == nil %>
							<i class="fa fa-angle-right activity-item-icon assigned-icon"></i>
						<% else %>
			 				<i class="fa fa-<%=pathway.font%> activity-item-icon assigned-icon"></i>
						<% end %>
						<h5><%= pathway.title %></h5>		
					<% end %>
				</div>
			<% end %>
		<% end %>
	</div>

	<div class="content library">
		<div class="heading-badge border-green-dark heading-border">
			<h3 class="bg-green-dark heading">Library Pathways</h3>
		</div>
		<% @favorite_pathways.each_with_index do |pathway,index| %>
			<% if index > 0 %>
				<div class="decoration"></div>
			<% end %>
			<div class="activity-item one-half-responsive library-content">
				<%= link_to pathway_steps_path(pathway) , :class => "fixed-step-height" do %>
					<% if pathway.font == nil %>
						<i class="fa fa-angle-right activity-item-icon library-icon"></i>
					<% else %>
				 		<i class="fa fa-<%=pathway.font%> activity-item-icon library-icon"></i>
					<% end %>
					<% if pathway.memo == "" %>
						<h5><%= pathway.title %></h5>
						<%- unless current_user.favorite_pathways.exists?(id: pathway.id) -%>
							<%= link_to favorite_pathways_path(pathway_id: pathway.id), method: :post , :style =>"width: auto;" do %>
								<i class="fa fa-star-o bocolyel pull-right" aria-hidden="true"></i>
							<% end %>
						<%- else -%>
							<%= link_to favorite_pathway_path(pathway.id), method: :delete do %>
								<i class="fa fa-star coloryel pull-right" aria-hidden="true"></i>
							<% end %>
						<%- end -%>
					<% else %>
						<h5><%= pathway.title %></h5>
						<%- unless current_user.favorite_pathways.exists?(id: pathway.id) -%>
							<%= link_to favorite_pathways_path(pathway_id: pathway.id), method: :post do %>
								<i class="fa fa-star-o bocolyel pull-right" aria-hidden="true"></i>
							<% end %>
						<%- else -%>
							<%= link_to favorite_pathway_path(pathway.id), method: :delete do %>
								<i class="fa fa-star coloryel pull-right" aria-hidden="true"></i>
							<% end %>
						<%- end -%>
					<% end %>
				<% end %>
			</div>
		<% end %>
		<% @unfavorite_pathways.each_with_index do |pathway,index| %>
			<% if not @favorite_pathways.present? %>
				<% if index > 0 %>
					<div class="decoration"></div>
				<% end %>
			<% else %>
				<div class="decoration"></div>
			<% end %>
				
			<div class="activity-item one-half-responsive  library-content">
				<%= link_to pathway_steps_path(pathway), class: "fixed-step-height" do %>
					<% if pathway.font == nil %>
						<i class="fa fa-angle-right activity-item-icon library-icon"></i>
					<% else %>
					 	<i class="fa fa-<%=pathway.font%> activity-item-icon library-icon"></i>
					<% end %>
					<% if pathway.memo == "" %>
						<h5><%= pathway.title %></h5>
						<%- unless current_user.favorite_pathways.exists?(id: pathway.id) -%>
							<%= link_to favorite_pathways_path(pathway_id: pathway.id), method: :post , class: "fixed-step-height" do %>
								<i class="fa fa-star-o bocolyel pull-right" hidden="true"></i>
							<% end %>
						<%- else -%>
							<%= link_to favorite_pathway_path(pathway.id), method: :delete , class: "fixed-step-height" do %>
								<i class="fa fa-star coloryel pull-right" aria-hidden="true"></i>
							<% end %>
						<%- end -%>
					<% else %>
						<h5><%= pathway.title %></h5>
						<%- unless current_user.favorite_pathways.exists?(id: pathway.id) -%>
							<%= link_to favorite_pathways_path(pathway_id: pathway.id), method: :post , class: "fixed-step-height"  do %>
								<i class="fa fa-star-o bocolyel pull-right" aria-hidden="true"></i>
							<% end %>
						<%- else -%>
							<%= link_to favorite_pathway_path(pathway.id), method: :delete , class: "fixed-step-height" do %>
								<i class="fa fa-star coloryel pull-right" aria-hidden="true"></i>
							<% end %>
						<%- end -%>
					<% end %>
				<% end %>
				<br>
			</div>
		<% end %>

		<% @completed_pathways.each_with_index do |pathway,index| %>
			<% puts "=====================================IN======" %>
			<% if not @favorite_pathways.pluck(:id).include? pathway.id  %>
				<div class="decoration"></div>
				<div class="activity-item one-half-responsive library-content">
						<%= link_to pathway_steps_path(pathway), :class => "fixed-step-height" do %>
							<% if pathway.font == nil %>
								<i class="fa fa-angle-right activity-item-icon library-icon"></i>
							<% else %>
					 			<i class="fa fa-<%=pathway.font%> activity-item-icon library-icon"></i>
							<% end %>
							<% if pathway.memo == "" %>
								<h5><%= pathway.title %></h5>
								<%- unless current_user.favorite_pathways.exists?(id: pathway.id) -%>
									<%= link_to favorite_pathways_path(pathway_id: pathway.id), method: :post do %>
										<i class="fa fa-star-o bocolyel pull-right" aria-hidden="true"></i>
									<% end %>
								<%- else -%>
									<%= link_to favorite_pathway_path(pathway.id), method: :delete do %>
										<i class="fa fa-star coloryel pull-right" aria-hidden="true"></i>
									<% end %>
								<%- end -%>
							<% else %>
								<h5><%= pathway.title %></h5>
								<%- unless current_user.favorite_pathways.exists?(id: pathway.id) -%>
									<%= link_to favorite_pathways_path(pathway_id: pathway.id), method: :post do %>
										<i class="fa fa-star-o bocolyel pull-right" aria-hidden="true"></i>
									<% end %>
								<%- else -%>
									<%= link_to favorite_pathway_path(pathway.id), method: :delete do %>
										<i class="fa fa-star coloryel pull-right" aria-hidden="true"></i>
									<% end %>
								<%- end -%>
							<% end %>
						<% end %>
					</div>
				<% end %>
			<% end %>
		</div>
	<br />
<% end %>