<p id="notice"><%= notice %></p>
<% if current_user.user? %>
<h2>
Assigned Pathways
</h2>
<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Memo</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<% @pathways.each do |pathway| %>
		<% if pathway.active == true %>
		<tr>
			<% if Assignment.where(pathway_id: pathway.id, user_id: current_user.id).first.status == nil   %>
			<td><%= pathway.title %></td>
			<td><%= pathway.memo %></td>
			<td><%= link_to 'steps', step_index_path(pathway) %></td>
			<% end %>
		</tr>
		<% end %>
		<% if pathway.active == true %>
		<tr>
			<td><%= pathway.title %></td>
			<td><%= pathway.memo %></td>
			<td><%= link_to 'steps', step_index_path(pathway) %></td>
		</tr>
		<% end %>
		<% end %>
	</tbody>
</table>
<br>
<h2>
Completed Pathways
</h2>
<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Memo</th>
		</tr>
	</thead>
	<tbody>
		<% @pathways.each do |pathway| %>
		<<<<<<< Updated upstream
		<tr>
			<% if Assignment.where(pathway_id: pathway.id, user_id: current_user.id).first.status == "completed" %>
			<td><%= pathway.title %></td>
			<td><%= pathway.memo %></td>
			<% end %>
		</tr>
		<% if pathway.active == false %>
		<tr>
			<td><%= pathway.title %></td>
			<td><%= pathway.memo %></td>
		</tr>
		<% end %>
		<% end %>
	</tbody>
</table>
<br>
<h2>
Library
</h2>
<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Memo</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<% @references.each do |pathway| %>
		<tr>
			
			<td><%= pathway.title %></td>
			<td><%= pathway.memo %></td>
			<td><%= link_to 'steps', step_index_path(pathway) %></td>
			
		</tr>
		<% @pathways.each do |pathway| %>
		<tr>
			<td><%= pathway.title %></td>
			<td><%= pathway.memo %></td>
			<td><%= link_to 'steps', step_index_path(pathway) %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<% end %>