<style type="text/css">
	.coloryel::before {
		color: #ffff00;
		text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
	}
	.bocolyel::before {
		color: #000000;
	}
</style>
<div class="header-fixed header-light">
	<a href="#" class="header-icon-1 open-left-sidebar"><i class="fa fa-navicon"></i></a>
	<h4 style="color:black;margin-top:20px;" class="text-center"><%= current_user.group.try(:name) %></h4>
	<%#= link_to "", :class => "header-logo" %>
	<a href="#" class="header-icon-4 open-right-sidebar"><i class="fa fa-envelope-o"></i></a>
</div>
<div class="header-clear"></div>
<div class="content-strip" style="background-color: white;padding-top:0px;padding-bottom:0px;margin-bottom:30px;">
</div>
<div class="text-slider content-fullscreen swiper-container-horizontal">
	<div class="swiper-wrapper" style="transform: translate3d(-2118px, 0px, 0px); transition-duration: 0ms;">
		<p class="swiper-slide" style="width: 706px;">Android 20 Launched. It's awesome! <a href="#">Read More</a></p>
		<p class="swiper-slide" style="width: 706px;">iPhone renamed to ApplePhone. What? <a href="#">Read More</a></p>
		<p class="swiper-slide swiper-slide-prev" style="width: 706px;">Best device of the year? What's yours? <a href="#">Read More</a></p>
		<p class="swiper-slide swiper-slide-active" style="width: 706px;">Enabled is rocking the mobile nieche! <a href="#">Read More</a></p>
		<p class="swiper-slide swiper-slide-next" style="width: 706px;">We're using the latest code techniques! <a href="#">Read More</a></p>
	</div>
</div>
<% if current_user.user? or current_user.local_admin? %>
<div class="content">
	<!-- <p id="notice"><%= notice %></p> -->
	<div class="heading-badge border-green-dark">
		<h3 class="bg-green-dark" style="width:200px">Assigned Pathways</h3>
	</div>
	<% @assigned_pathways.each_with_index do |pathway,index| %>
	<% if pathway.active == true %>
	<%# if Assignment.where(pathway_id: pathway.id, user_id: current_user.id).first.status == nil %>
	<%# if Assignment.where(pathway_id: pathway.id, user_id: current_user.id, status: nil).first %>
	<div class="thumb-layout">
		<% if index > 0 %>
			<div class="decoration"></div>
		<% end %>
		<%= link_to pathway_steps_path(pathway) do %>
			<%= image_tag "pictures/2t.jpg" ,:class => "preload-image" , :alt=>"img" ,:style => "display: block;"%>
			<% if pathway.memo == "" %>
				<h5 style="float:left;margin-top:60px;" class="responsive_width"><%= pathway.title %></h5>
				<em><br></em>
			<% else %>
				<h5 style="float:left;margin-top:60px;" class="responsive_width"><%= pathway.title %></h5>
				<em align="left"><br><%#= HTML_Truncator.truncate(pathway.memo, 20) %></em>
			<% end %>
			<br>
		<% end %>
		<!-- </a> -->
	</div>
	<%# end %>
	<% end %>
	<% end %>
</div>
<div class="content" style="margin-top:30px;">
	<div class="heading-badge border-green-dark" style="border-color:#2980b9!important;">
		<h3 class="bg-green-dark" style="width:200px;background-color: #2980b9!important; ">Library Pathways</h3>
	</div>
	<%# @library_pathways.each do |pathway| %>
	<% @favorite_pathways.each_with_index do |pathway,index| %>
	<div class="thumb-layout">
		<% if index > 0 %>
			<div class="decoration"></div>
		<% end %>
		<%# if current_user.favorite_pathways.pluck(:id).include? pathway.id %>
		<%= link_to pathway_steps_path(pathway) do %>
			<%= image_tag "pictures/1t.jpg" ,:class => "preload-image" , :alt=>"img" ,:style => "display: block;"%>
		<% if pathway.memo == "" %>
			<h5 style="float:left;margin-top:60px;" class="responsive_width"><%= pathway.title %></h5>
			<em></em>
			<span style="float:right;top:0px;">
			<%- unless current_user.favorite_pathways.exists?(id: pathway.id) -%>
			<%= link_to favorite_pathways_path(pathway_id: pathway.id), method: :post do %>
			<i class="fa fa-star-o bocolyel pull-right" aria-hidden="true" style="margin-top:60px;"></i>
			<% end %>
			<%- else -%>
			<%= link_to favorite_pathway_path(pathway.id), method: :delete do %>
			<i class="fa fa-star coloryel pull-right" aria-hidden="true" style="margin-top:60px;"></i>
			<% end %>
			<%- end -%>
			</span>
			<br>
		<% else %>
			<h5 style="float:left;margin-top:60px;" class="responsive_width"><%= pathway.title %></h5>
			<em></em>
			<span style="float:right;top:0px;">
			<%- unless current_user.favorite_pathways.exists?(id: pathway.id) -%>
				<%= link_to favorite_pathways_path(pathway_id: pathway.id), method: :post do %>
					<i class="fa fa-star-o bocolyel pull-right" aria-hidden="true" style="margin-top:60px;"></i>
				<% end %>
			<%- else -%>
				<%= link_to favorite_pathway_path(pathway.id), method: :delete do %>
					<i class="fa fa-star coloryel pull-right" aria-hidden="true" style="margin-top:60px;"></i>
				<% end %>
			<%- end -%>
			</span>
			<br>
		<% end %>
		<% end %>
		<br>
		<%# end %>
	</div>
	<% end %>

	<% @unfavorite_pathways.each_with_index do |pathway,index| %>
	<div class="thumb-layout">
		<% if index > 0 %>
			<div class="decoration"></div>
		<% end %>
		<%# if current_user.favorite_pathways.pluck(:id).include? pathway.id %>
		<%= link_to pathway_steps_path(pathway) do %>
			<%= image_tag "pictures/1t.jpg" ,:class => "preload-image" , :alt=>"img" ,:style => "display: block;"%>
		<% if pathway.memo == "" %>
			<h5 style="float:left;margin-top:60px;" class="responsive_width"><%= pathway.title %></h5>
			<em></em>
			<span style="float:right;top:0px;">
			<%- unless current_user.favorite_pathways.exists?(id: pathway.id) -%>
				<%= link_to favorite_pathways_path(pathway_id: pathway.id), method: :post do %>
					<i class="fa fa-star-o bocolyel pull-right" aria-hidden="true" style="margin-top:60px;"></i>
				<% end %>
			<%- else -%>
				<%= link_to favorite_pathway_path(pathway.id), method: :delete do %>
					<i class="fa fa-star coloryel pull-right" aria-hidden="true" style="margin-top:60px;"></i>
				<% end %>
			<%- end -%>
			</span>
			<br>
		<% else %>
			<h5 style="float:left;margin-top:60px;" class="responsive_width"><%= pathway.title %></h5>
			<em></em>
			<span style="float:right;top:0px;">
			<%- unless current_user.favorite_pathways.exists?(id: pathway.id) -%>
				<%= link_to favorite_pathways_path(pathway_id: pathway.id), method: :post do %>
					<i class="fa fa-star-o bocolyel pull-right" aria-hidden="true" style="margin-top:60px;"></i>
				<% end %>
			<%- else -%>
				<%= link_to favorite_pathway_path(pathway.id), method: :delete do %>
					<i class="fa fa-star coloryel pull-right" aria-hidden="true" style="margin-top:60px;"></i>
				<% end %>
			<%- end -%>
			</span>
			<br>
		<% end %>
		<% end %>
		<br>
		<%# end %>
	</div>
	<% end %>

	<% @completed_pathways.each_with_index do |pathway,index| %>
	<div class="thumb-layout">
		<% if index > 0 %>
			<div class="decoration"></div>
		<% end %>
		<% if !@favorite_pathway_ids.include? pathway.id  %>
		<%= link_to pathway_steps_path(pathway) do %>
			<%= image_tag "pictures/1t.jpg" ,:class => "preload-image" , :alt=>"img" ,:style => "display: block;"%>
		<% if pathway.memo == "" %>
			<h5 style="float:left;margin-top:60px;" class="responsive_width"><%= pathway.title %></h5>
			<em></em>
			<span style="float:right;top:0px;">
			<%- unless current_user.favorite_pathways.exists?(id: pathway.id) -%>
				<%= link_to favorite_pathways_path(pathway_id: pathway.id), method: :post do %>
					<i class="fa fa-star-o bocolyel pull-right" aria-hidden="true" style="margin-top:60px;"></i>
				<% end %>
			<%- else -%>
				<%= link_to favorite_pathway_path(pathway.id), method: :delete do %>
					<i class="fa fa-star coloryel pull-right" aria-hidden="true" style="margin-top:60px;"></i>
				<% end %>
			<%- end -%>
			</span>
			<br>
		<% else %>
			<h5 style="float:left;margin-top:60px;" class="responsive_width"><%= pathway.title %></h5>
			<em></em>
			<span style="float:right;top:0px;">
			<%- unless current_user.favorite_pathways.exists?(id: pathway.id) -%>
				<%= link_to favorite_pathways_path(pathway_id: pathway.id), method: :post do %>
					<i class="fa fa-star-o bocolyel pull-right" aria-hidden="true" style="margin-top:60px;"></i>
				<% end %>
			<%- else -%>
				<%= link_to favorite_pathway_path(pathway.id), method: :delete do %>
					<i class="fa fa-star coloryel pull-right" aria-hidden="true" style="margin-top:60px;"></i>
				<% end %>
			<%- end -%>
			</span>
			<br>
		<% end %>
		<% end %>
		<br>
		<% end %>
	</div>
	<% end %>
	<!-- <div class="decoration"></div> -->
	<!-- <a href="#" class="button button-center button-blue button-fullscreen">More news</a> -->
</div>
<br><br>
<% end %>