<p id="notice"><%= notice %></p>
<h3>Pathway Details</h3><hr><br>
<strong>Group Name:</strong>
<%= @pathway.group.try(:name) %><br>
<strong>Title:</strong>
<%= @pathway.title %><br>
<strong>Font:</strong>
<%= @pathway.font %><br>
<!--<strong>Active:</strong>
<%#= @pathway.active %><br>-->
<strong>Memo:</strong>
<%= @pathway.memo %><br>
<hr><br>
<b><h4>List of Steps</h4></b><br>
<div>
	<ul id="arrange" style="list-style: none;">
		<%= render 'step_list', :pathway=>@pathway %>
 	</ul>
 <br>
</div>
<br>
<%= link_to 'Edit', edit_pathway_path(@pathway) %> |
<%= link_to 'Back', pathways_path %> |
<%= link_to 'Duplicate this pathway',duplicate_pathway_path(@pathway.id), method: :post, data: { confirm: 'Are you sure to duplicate this pathway?' } %>


<script type="text/javascript">
	$( document ).ready(function() {
	  console.log( "ready!" );

	  $('#arrange').sortable({
	  update: function( event, ui ) {
	    $.ajax({
	        url: '/pathways/sort',
	        type: 'post',
	        data:  $('#arrange').sortable('serialize') + "&id=<%=@pathway.id %>",
	        dataType: 'script',
	        complete: function(request){
	            //$('#arrange').effect('highlight');
	        }
	      });
	    }
	  });
	});
</script>