<%= form_for(@step) do |f| %>
  <% if @step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@step.errors.count, "error") %> prohibited this step from being saved:</h2>

      <ul>
      <% @step.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pathway_id %><br>
    <%= f.select :pathway_id ,options_from_collection_for_select(Pathway.all,'id','title',@step.pathway_id) %>
  </div>
  <div class="field">
    <%= f.label :memo %><br>
    <%= f.select :pathway_id ,options_from_collection_for_select(Pathway.all,'id','memo',@step.pathway_id) %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :subtitle %><br>
    <%= f.text_field :subtitle %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :parent_step %><br>
    <%= f.text_field :parent_step_id %>
  </div>
  <div class="field">
    <%= f.label :url_link %><br>
    <%= f.text_field :url_link %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :memo %><br>
    <%= f.text_area :memo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
