<p id="notice"><%= notice %></p>

<h1>Listing Steps</h1>

<table>
  <thead>
    <tr>
      <th>Pathway</th>
      <th>Title</th>
      <th>Subtitle</th>
      <th>Body</th>
      <th>Child step</th>
      <th>Parent step</th>
      <th>Url link</th>
      <th>Active</th>
      <th>Memo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @steps.each do |step| %>
      <tr>
        <td><%= step.pathway.try(:title) %></td>
        <td><%= step.title %></td>
        <td><%= step.subtitle %></td>
        <td><%= step.body %></td>
        <td><%= step.child_step %></td>
        <td><%= step.parent_step %></td>
        <td><%= step.url_link %></td>
        <td><%= step.active %></td>
        <td><%= step.memo %></td>
        <td><%= link_to 'Show', step %></td>
        <td><%= link_to 'Edit', edit_step_path(step) %></td>
        <td><%= link_to 'Destroy', step, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Step', new_step_path %>
