<div class="header-fixed header-light">
    <a href="#" class="header-icon-1 open-left-sidebar">
        <i class="fa fa-navicon"></i>
    </a>
    <h4 class="text-center">
        <%= current_user.group.try(:name) %>
    </h4>
    <a href="#" class="header-icon-4 open-right-sidebar">
        <i class="fa fa-envelope-o"></i>
    </a>
</div>

<div class="header-clear">
</div>

<div class="content-strip">
    <div class="strip-content-cus text-center">
        <%= link_to  root_path do %>
          <i class="fa fa-arrow-left page-blog-list-more"></i>
        <% end %>
        <h5>
            <%= @pathway.title %>
        </h5>
    </div>
    <div class="overlay"></div>
</div>

<div class="content">
    <div class="activity-item one-half-responsive">
      <% @pathways_steps.each_with_index do |pathways_step,index| %>
          <% if index > 0 %>
            <div class="decoration"></div>
          <% end %>

          <%= link_to pathway_step_path(params[:pathway_id],pathways_step.step) , class: "fixed-step-height" do %>
                <% if @completed_step_ids.present? and @completed_step_ids.include? pathways_step.step.id %>
                     <i class="fa fa-check activity-item-icon complete-step-icon"></i>
                    <h5 class="padding-top-15">
                        <%=pathways_step.step.title %>
                    </h5>
                <% else %>
                    <% if @assignment.nil? %>
                        <div class="padding-top-12 pull-right">
                            <i class="fa fa-angle-right library-step-icon"></i>
                        </div>
                        <h5 class="padding-top-15 padding-left-0">
                            <%= pathways_step.step.title %>
                        </h5>
                    <% else %>
                        <i class="fa fa-check activity-item-icon incomplete-step-icon"></i>
                        <h5 class="padding-top-15">
                            <%= pathways_step.step.title %>
                        </h5>
                    <% end %>
                <% end %>
          <% end %>
      <% end %>
    </div>
    <% if @completed_step_ids.present? and (@pathway_steps_count == @completed_steps_count) %>
        <%= form_tag(complete_pathway_path(@pathway), method: :post) do %>
            <%= hidden_field_tag 'assignment_id', value = @assignment.id %>
            <%= submit_tag "Close this pathway" , :class=>"button button-fullscreen button-green full-bottom"%>
        <% end %>
    <% end %>
</div>