<div class="header-clear">
</div>

<div class="content-strip">
  <div class="strip-content">
    <h4><%= @pathway.title %></h4>
    <!-- <p><%= @pathway.memo %></p> -->
    <i class="fa fa-list"></i>
  </div>
  <div class="overlay"></div>
  <!--<img class="preload-image" data-original="images/pictures/1.jpg" alt="img">-->
  <%= image_tag "pictures/1.jpg", :class => "preload-image", :alt => "img",:style => "display: block;" %>
</div>
<div class="content">
<p id="notice"><%= notice %></p>
  <div class="activity-item one-half-responsive">
    <% @steps.each do |step| %>
    <%= link_to pathway_step_path(params[:pathway_id],step) ,:style=>"display: block;" do%>
   
    <% if @completed_step_ids.present? and @completed_step_ids.include? step.id %>
        <i class="fa fa-check bg-green-dark activity-item-icon" style="background-color: #34AF23!important"></i>
        <% if step.subtitle=="" %>
          <h5><%= step.title %></h5>
          <em><br></em>
        <% else %>
          <h5><%= step.title %></h5>
          <em><%=step.subtitle %></em>
        <% end %>
    <% else %>
      <% if @assignment.nil? %>
        <i class="fa fa-check bg-green-dark activity-item-icon" style="background-color: #34AF23!important"></i>
        <% if step.subtitle=="" %>
          <h5><%= step.title %></h5>
          <em><br></em>
        <% else %>
          <h5><%= step.title %></h5>
          <em><%=step.subtitle %></em>
        <% end %>
        <!-- <em>Libray Pathway </em> -->
      <% else %>
        <i class="fa fa-check bg-green-dark activity-item-icon" style="background-color:#77dfa2!important"></i>
        <% if step.subtitle=="" %>
          <h5><%= step.title %></h5>
          <em><br></em>
        <% else %>
          <h5><%= step.title %></h5>
          <em><%=step.subtitle %></em>
        <% end %>
      <% end %>
    <% end %>
    <% end %>
    <% end %>
    
  </div>
  
  <div class="decoration"></div>
  <% if @completed_step_ids.present? and (@pathway_steps_count == @completed_steps_count) %>
  <%= form_tag(complete_pathway_path(@pathway), method: :post) do %>
  <%= hidden_field_tag 'assignment_id', value = @assignment.id %>
  <%= submit_tag "Close this pathway" , :class=>"button button-fullscreen button-green full-bottom"%>
  <% end %>
  <% end %>  
  <%= link_to  root_path , :class=>"page-blog-list-more" ,:style=>"margin-top:-5px;" do %> 
  <i class="fa fa-arrow-left" style="float:left; margin-top:inherit;"></i>&nbsp;&nbsp;
    Back
  <% end %>
</div>
