<div class="header-clear">
</div>
<div class="content-strip">
    <div class="strip-content">
        <h4><%= @pathway.title %></h4>
        <!-- <p><%= @pathway.memo %></p>
        <i class="fa fa-list"></i>-->
    </div>
    <div class="overlay"></div>
    <!--<img class="preload-image" data-original="images/pictures/1.jpg" alt="img">-->
    <%= image_tag "pictures/1.jpg", :class => "preload-image", :alt => "img",:style => "display: block;" %>
</div>
<div class="content">
    <%= link_to  root_path , :class=>"page-blog-list-more" ,:style=>"margin-top:-5px;" do %>
    <i class="fa fa-arrow-left" style="float:left; margin-top:inherit;"></i>&nbsp;&nbsp;
    Back<br>
    <% end %>
    <!-- <div class="decoration" style="margin-top: 20px;margin-bottom:0px;"></div> -->
</div>
<div class="content">
    <p id="notice"><%= notice %></p>
    <div class="activity-item one-half-responsive">
        <% @pathways_steps.each do |pathways_step| %>
        <%= link_to pathway_step_path(params[:pathway_id],pathways_step.step) ,:style=>"display: block;" do%>
        
        <% if @completed_step_ids.present? and @completed_step_ids.include? pathways_step.step.id %>
        <i class="fa fa-check bg-green-dark activity-item-icon" style="background-color: #37C597!important;border-color:#37C597"></i>
        <% if pathways_step.step.subtitle=="" %>
        <h5><%= pathways_step.step.title %></h5>
        <em><br></em>
        <% else %>
        <h5><%=pathways_step.step.title %></h5>
        <em><%=pathways_step.step.subtitle %></em>
        <% end %>
        <% else %>
        <% if @assignment.nil? %>
        <div class="pull-right">
            <i class="fa fa-angle-right" style="color:#777777!important;position:inherit;padding-left:0px;"></i>
        </div>
        
        <% if pathways_step.step.subtitle=="" %>
        <h5 style="padding-left:0px;"><%= pathways_step.step.title %></h5>
        <em><br></em>
        <% else %>
        <h5  style="padding-left:0px;width:250px;"><%= pathways_step.step.title %></h5>
        <em style="padding-left:0px;width:250px;"><%= pathways_step.step.subtitle %></em>
        <% end %>
        <!-- <em>Libray Pathway </em> -->
        <% else %>
        <i class="fa fa-check activity-item-icon" style="color:#B9BCC0!important;border:1px solid #B9BCC0;"></i>
        <% if pathways_step.step.subtitle=="" %>
        <h5><%= pathways_step.step.title %></h5>
        <em><br></em>
        <% else %>
        <h5><%= pathways_step.step.title %></h5>
        <em><%= pathways_step.step.subtitle %></em>
        <% end %>
        <% end %>
        <% end %>
        <% end %>
        <% end %>
        
    </div>
    
    <div class="decoration"></div>
    <% if @completed_step_ids.present? and (@pathway_steps_count == @completed_steps_count) %>
    <%= form_tag(complete_pathway_path(@pathway), method: :post) do %>
    <%= hidden_field_tag 'assignment_id', value = @assignment.id %>
    <%= submit_tag "Close this pathway" , :class=>"button button-fullscreen button-green full-bottom"%>
    <% end %>
    <% end %>
    
</div>