<p id="notice"><%= notice %></p>
<h3>Details of Step</h3><hr><br>
<strong>Pathway:</strong>
<%= @step.pathway.try(:title) %><br>
<strong>Title:</strong>
<%= @step.title %><br>
<strong>Subtitle:</strong>
<%= @step.subtitle %><br>
<strong>Body:</strong>
<%= @step.body %><br>
<strong>Parent step:</strong>
<%= @step.parent_step_id %><br>
<strong>Url link:</strong>
<%= @step.url_link %><br>
<strong>Active:</strong>
<%= @step.active %><br>
<strong>Memo:</strong>
<%= @step.memo %><br><br>
<%= link_to 'Edit', edit_step_path(@step) %> |
<%= link_to 'Back', steps_path %>