<div class="header-fixed header-light">
	<a href="#" class="header-icon-1 open-left-sidebar">
		<i class="fa fa-navicon"></i>
	</a>
	<h4 class="text-center">
		<%= current_user.group.try(:name) %>
	</h4>
	<a href="#" class="header-icon-4 open-right-sidebar">
		<i class="fa fa-envelope-o"></i>
	</a>
</div>

<div class="header-clear">
</div>

<%= form_tag(complete_step_path(@step), method: :post, id: "complete_step_form") do %>
<div class="content-strip step-content-strip">
	<div class="strip-content-cus text-center">
		<%=link_to  pathway_steps_path(params[:pathway_id]),:class=>"home" do %>
			<i class="fa fa-angle-double-left home" aria-hidden="true"></i>
		<% end %>
	
		<% if @prev_id == -1 %>
			<%=link_to  pathway_steps_path(params[:pathway_id]) do %>
				<i class="fa fa-arrow-left page-blog-list-more left-arrow" style=""></i>
			<% end %>
		<% else %>
			<%=link_to  pathway_step_path(params[:pathway_id],@prev_id) do %>
				<i class="fa fa-arrow-left page-blog-list-more left-arrow">
				</i>
			<% end %>
		<% end %>
	
		<% if @next_id != 0%>
			<%= link_to pathway_step_path(params[:pathway_id],@next_id) ,:class=> "next-link" do %>
				<i class="fa fa-arrow-right page-blog-list-more next-button"></i>
			<% end %>
		<% end %>
		<h5><%= @pathway.title %></h5>
	</div>
	<div class="overlay">
	</div>
</div>

<div class="news-article-share full-bottom">
	<% if !@assignment.nil? %>
		<% if @completed_step_ids.present? and @completed_step_ids.include? @step.id %>
			<a href="#" class="mark-complete-link">
				<i class="whatsapp-color fa mark-complete-icon"> 
					<b><%= submit_tag "Completed",:disabled => true ,:class=>"mark-complete-icon"%></b>
				</i>
			</a>
		<% else %>
			<%= link_to "#", :onclick => "$('#complete_step_form').submit();", :class=>"mark-complete-link" do %>
				<i class="whatsapp-color fa mark-complete-icon" > 
					<b><%= submit_tag "Mark as Complete",data: { disable_with: "Submiting..." },:class=>"mark-complete-icon" %>
					</b>
				</i>
			<% end %>
		<% end %>
	<% end %>
	<div class="clear"></div>
</div>

<div class="content step-content" >
	<h5>
		<b><%= @step.title %></b>
	</h5>
	<p><%= @step.subtitle %></p>
</div>

<%= hidden_field_tag 'assignment_id', value = @assignment.id if !@assignment.nil? %>
<div class="content">
	<%= raw(@step.body) %>
	<% if @step.url_to_youtube == "" or @step.url_to_youtube == nil %>
		<div class="one-half-responsive1 width45">
		</div>
	<% else %>
		<div class="one-half-responsive1 width45">
			<div class="responsive-video full-bottom">
				<%= embed(@step.url_to_youtube) %>
			</div>
		</div>
	<% end %>
	<div class="decoration hide-if-responsive"></div>
</div>
<% end %>