<style type="text/css">

  .content-strip .strip-content-cus {
    position: relative;
    z-index: 3;
  }

  .content-strip .strip-content-cus i {
    position: absolute;
    right: 	0px;
    height: 100px;
    top: -55px;
    width: 25px;
    color: rgba(255,255,255,0.9);
    line-height: 93px;
    font-size: 20px;
  }
</style>
<div class="header-fixed header-light">
	<a href="#" class="header-icon-1 open-left-sidebar"><i class="fa fa-navicon"></i></a>
	<h4 style="color:black;margin-top:20px;" class="text-center"><%= current_user.group.try(:name) %></h4>
	<%#= link_to "", :class => "header-logo" %>
	<a href="#" class="header-icon-4 open-right-sidebar"><i class="fa fa-envelope-o"></i></a>
</div>
<div class="header-clear">
</div>
<%= form_tag(complete_step_path(@step), method: :post, id: "complete_step_form") do %>
<div class="content-strip" style="padding-top:10px;padding-bottom:10px;bottom:0px;">
	<div class="strip-content-cus text-center">
		<%=link_to  pathway_steps_path(params[:pathway_id]),:style=>"margin-top:inherit; top:19px; padding-right:10px; float:left;" do %>
			<i class="fa fa-angle-double-left" aria-hidden="true" style="font-size:1.5em; left:0px;"></i>
		<% end %>
	
		<% if @prev_id == -1 %>
			<%=link_to  pathway_steps_path(params[:pathway_id]),:style=>"margin-top:-5px;width:150px;top:25px;" do %>
				<i class="fa fa-arrow-left page-blog-list-more" style="float:left; margin-top:inherit; left:30px;"></i>
			<% end %>
		<% else %>
			<%=link_to  pathway_step_path(params[:pathway_id],@prev_id) ,:style=>"margin-top:-5px;width:150px;top:25px;" do %>
				<i class="fa fa-arrow-left page-blog-list-more" style="float:left; margin-top:inherit; left:30px;"></i>
			<% end %>
		<% end %>
	
		<% if @next_id != 0%>
			<%= link_to pathway_step_path(params[:pathway_id],@next_id) ,:style=>"margin-top:-5px;float:right;top:30px;" do %>
				<i class="fa fa-arrow-right page-blog-list-more" style="float:right; margin-top:inherit; right:10px;"></i>
			<% end %>
		<% end %>
		<h5 style="color:white;font-size:18px"><%= @pathway.title %></h5>
	</div>
	<div class="overlay">
	</div>
	<!--<img class="preload-image" data-original="images/pictures/0.jpg" alt="img" src="images/pictures/0.jpg" style="display: block;">-->
	<%#= image_tag "pictures/0.jpg", :class => "preload-image", :style => "display: none;color:#2980b9" %>
</div>
<!--
<div class="content" style="top:0px;margin-bottom:0px;width:100%;height:40px;padding-left:10px;padding-right:10px;">
	<%#=link_to  pathway_steps_path(params[:pathway_id]),:style=>"margin-top:-5px;top:19px;padding-right:10px; float:left;" do %>
	<i class="fa fa-angle-double-left" aria-hidden="true" style="font-size:1.5em;"></i>
	<%# end %>
	
	<%# if @prev_id == -1 %>
	<%#=link_to  pathway_steps_path(params[:pathway_id]),:style=>"margin-top:-5px;width:150px;top:25px;" do %>
	<i class="fa fa-arrow-left page-blog-list-more" style="float:left; margin-top:inherit;"></i>
	<%# end %>
	<%# else %>
	<%#=link_to  pathway_step_path(params[:pathway_id],@prev_id) ,:style=>"margin-top:-5px;width:150px;top:25px;" do %>
	<i class="fa fa-arrow-left page-blog-list-more" style="float:left; margin-top:inherit;"></i>
	<%# end %>
	<%# end %>
	
	<%# if @next_id != 0%>
	<%#= link_to pathway_step_path(params[:pathway_id],@next_id) ,:style=>"margin-top:-5px;float:right;top:30px;" do %>
	<i class="fa fa-arrow-right page-blog-list-more" style="float:right; margin-top:inherit;"></i>
	
	<%# end %>
	<%# end %>
</div>
-->
<div class="news-article-share full-bottom" style="margin-bottom: 0px !important;">
	<% if !@assignment.nil? %>
	<% if @completed_step_ids.present? and @completed_step_ids.include? @step.id %>
	<%#= submit_tag do %>
	<a href="#" style="border-radius: 30px; border: 3px solid; border-color: green;">
	<i class="whatsapp-color fa" style="border-radius: 20px; background-color: white; color: green;"> <b><%= submit_tag "Completed",:disabled => true,:style => "background-color: white;" %></i></a></b>
	<%# end %>
	<%#= submit_tag "Complete step"  , :disabled => true ,:class => "btn btn-default"%>
	<% else %>
	<!-- <a href="#" data-action="share/whatsapp/share"> -->
	<%= link_to "#", :onclick => "$('#complete_step_form').submit();", :style => "border-radius: 30px; border: 3px solid; border-color: green;" do %>
	<i class="whatsapp-color fa" style="border-radius: 20px; background-color: white; color: green;"> <b><%= submit_tag "Mark as Complete",data: { disable_with: "Submiting..." },:style=>"background-color: white;" %></b></i>
	<% end %>
	<%#= submit_tag "Complete step"  , data: { disable_with: "Submiting..." },:class => "btn btn-default"%>
	<% end %>
	<% end %>
	<div class="clear"></div>
</div>
<div class="content" style="margin-top:20px;">
	<h5><b><%= @step.title %></b></h5>
	<p><%= @step.subtitle %></p>
</div>
<div class="content">
	<!--<h4>Some awesome title goes here</h4>
	<b><em>Body</em></b>-->
	<p class="half-bottom">
	</p>
</div>
<%= hidden_field_tag 'assignment_id', value = @assignment.id if !@assignment.nil? %>
<div class="content">
	<!-- <div class="decoration"></div> -->
	<p class="dropcaps-1 one-half-responsive" style="width: 100%;">
		<%= raw(@step.body) %>
		<%#= @step.body %>
	</p>
	<% if @step.url_to_youtube == "" or @step.url_to_youtube == nil %>
	<div class="one-half-responsive1 width45">
		<!--<div class="responsive-video full-bottom">
		</div>-->
	</div>
	<% else %>
		<div class="one-half-responsive1 width45">
			<div class="responsive-video full-bottom">
			<!-- <iframe src="https://www.youtube.com/embed/c9MnSeYYtYY"></iframe> -->
			<%= embed(@step.url_to_youtube) %>
			</div>
		</div>
	<% end %>
	<div class="decoration hide-if-responsive"></div>
</div>
<% end %>