<p id="notice"><%= notice %></p>

<h3>
<% if user_signed_in? %>
<%= link_to "back", root_path %>&nbsp;
<%= current_user.first_name %>
<%= current_user.last_name %>
<% else %>
<%= link_to "sign_in", new_user_session_path %>
<% end %>
</h3>

<h2>
<%= @pathway.title %>
</h2>

<table border="1">
	<thead>
		<tr>
			<th>Title</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<% @steps.each do |step| %>
			<% if step.active == true %>
				<tr>
					<td><%= step.title %></td>
					<td><%= link_to 'details', step_show_path(step) %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>