<p id="notice"><%= notice %></p>

<h3>
<% if user_signed_in? %>
<%= link_to "back", root_path %>&nbsp;
<%= current_user.first_name %>
<%= current_user.last_name %>
<% else %>
<%= link_to "sign_in", new_user_session_path %>
<% end %>
</h3>

<h2>
<%= @pathway.title %>
</h2>

<table border="1">
	<thead>
		<tr>
			<th>Title</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<% @steps.each do |step| %>
				<tr>
					<td><%= step.title %></td>

					<% if @completed_step_ids.present? and @completed_step_ids.include? step.id %>
						<td>Completed</td>
					<% else %>
						<td><%= link_to 'details', step_show_path(step) %></td>
					<% end %>
				</tr>
		<% end %>
	</tbody>
</table>
<br>
<% if @completed_step_ids.present? and (@pathway_steps_count == @completed_steps_count) %>
	<%= form_tag(complete_pathway_path(@pathway), method: :post) do %>
		<%= hidden_field_tag 'assignment_id', value = @assignment.id %>
		<%= submit_tag "close this pathway" %>
	<% end %>
<% end %>