<p id="notice"><%= notice %></p>
<h3>Details Of Step</h3><hr><br>
<%= form_tag(complete_step_path(@step), method: :post) do %>
	<strong>Pathway : </strong>
	<%= @step.pathway.title %><br>
	<strong>Title : </strong>
	<%= @step.title %><br>

<%= hidden_field_tag 'assignment_id', value = @assignment.id if !@assignment.nil? %>
	<strong>Subtitle : </strong>
	<%= @step.subtitle %><br>
</h4>

<%= image_tag @step.url_link.url(:thumb)%><br>
<strong>Body : </strong>
<%= @step.body %><br>
<strong>Memo : </strong>
<%= @step.memo %><br><br>
	<% if !@assignment.nil? %> 
		<%= submit_tag "Complete step" , :class => "btn btn-default"%>
	<% end %>
<% end %><br>
<%=link_to "Back" , step_index_path(@step.pathway)%> 